<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <div class="login-container">
           <form id="signupForm">
                <input type="text" placeholder="Name" id="name" required />
                <input type="email" placeholder="Email" id="email" required />
                <input type="password" placeholder="Password" id="password" required />
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </body>
    <script src="/static/js/auth.js"></script>
</html>